<div class="app-dish">
  <div class="app-dish__inner">
    <h3 class="app-dish__name" *ngIf="data.name">
      {{ data.name }}
    </h3>
    <a [routerLink]="['/menu/', data.name, data.id]">mas</a>
    <div *ngIf="data.price" class="app-dish__price">
      {{ data.price }} €
    </div>
    <p class="app-dish__description">
      {{ data.description }}
    </p>
    <div class="app-dish__allergens" *ngIf="data.allergens.length > 0">
      <div class="app-dish__allergens-title">Listado alérgenos</div>
      <app-dish-allergens
      [data]="data.allergens"
      ></app-dish-allergens>
    </div>

  </div>
</div>
